/* Dashboard Page */
.dashboard-init {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 1%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

/* Dashboard Panel */
.dashboard-pannel-init {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dashboard-button-init {
    margin: 1rem;
    background-color: white;
}

/* Dashboard Section */
.dashboard-section-init {
    height: 90vh;
    width: 55%;
    * {
        background-color: white;
    }
}

.title-create-offer {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 3rem;
    text-decoration: underline;
}
.label-init {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.title-form-init {
    margin-left: 5rem;
    font-weight: 300;
    font-size: 2rem;
}

.submit-button-init {
    background-color: #02BAF2;
    margin-top: 2rem;
    align-self: center;
}

.icon-init {
    margin-right: 0.5rem;
}
.icon-arrow {
    margin-left: 1rem;
    margin-right: 1rem;
}