/* Dashboard Page */
.dashboard-init {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

/* Dashboard Panel */
.dashboard-pannel-init {
    background-color: white;
    height: 15rem; 
    width: 25rem;
    margin-left: 5rem;
    margin-top: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dashboard-button-init {
    margin: 1rem;
    background-color: white;
}

/* Dashboard Section */
.dashboard-section-init {
    background-color: white;
    height: 30rem;
    width: 50rem;
    margin-right: 5rem;
    margin-top: 5rem;
    * {
        background-color: white;
    }
}
.title-create-offer {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 3rem;
    text-decoration: underline;
}
.label-init {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.title-form-init {
    margin-left: 5rem;
    font-weight: 300;
    font-size: 2rem;
}

.submit-button-init {
    background-color: #02BAF2;
    display: flex;
    justify-content: center;
    margin-left: 22rem;
    margin-top: 2rem;
}

.icon-init {
    margin-right: 0.5rem;
}
.icon-arrow {
    margin-left: 1rem;
    margin-right: 1rem;
}