.wallet-init {
    * {
        background-color: white;
    }
}
.wallet-title {
    margin-top: 5%;
    margin-bottom: -.5rem;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 300%;
    font-weight: 600;
}