.navbare {
    border-bottom: 0.05rem solid #D9D9D9;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 7rem;
    background-color: white;
    margin-left: 1rem;
}
.button-init {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    background-color: white;
}
.button-nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.button-init-left {
    @extend .button-nav;
    background-color: white;
    margin-right: 1rem;
}
.button-init-right {
    @extend .button-nav;
    background-color: #02BAF2;
    color: white;
}