.navbar {
    border-bottom: 0.05rem solid #D9D9D9;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo {
    max-width: 10rem;
}
.button-init {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    
}
.button-direc{
    max-width: 5rem;
    height: min-content;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-right: 1.5rem;
    font-weight: 400;
}
.button-init-left {
    @extend .button-direc;
    background-color: white;
}
.button-init-right {
    @extend .button-direc;
    background-color: #02BAF2;
    color: white;
}